body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
section{
    filter:blur(100px);
}
.back:nth-child(1){
    background-color:darkorange;
    width: 100%;
    height: 200px;
}
.back:nth-child(2){
    background-color:firebrick ;
    width: 100%;
    height: 200px;
}
.back:nth-child(3){
    background-color:gold;
    width: 100%;
    height: 233px;
}
.navi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.navi a:nth-child(2){
    text-transform: uppercase;
    text-decoration: underline;
}
.navi a {
    text-decoration: none;
    color: rgb(255, 255, 0);
    font-weight: 600;
    text-shadow: 0 0 10px black,
                 0 0 20px black,
                 0 0 40px black,
                 0 0 80px black,
                 0 0 120px black;
    z-index: 100000;
    letter-spacing: 2px;
}
.con1 {
    position: relative;
    bottom: 500px;
}
.con1 p {
    text-align: center;
    color:black;
    font-weight: 700;
    font-size: 3vh;
}
.con1 .first-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.first-btn .btn1{
    color: black;
    font-weight: 700;
    font-size: 2.6vh;
    transition: all .2s ease-in-out;
}
.first-btn .btn1:hover{
    color: white;
    background:none;
    letter-spacing: 2px;
}
.first-btn .btn2{
    color: black;
    font-weight: 700;
    font-size: 2.6vh;
    transition: all .2s ease-in-out;
    margin-top: 15px;
}
.first-btn .btn2:hover{
    color: green;
    background:none;
    letter-spacing: 2px;
}

.con2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 100000;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
label{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2.8vh;
    letter-spacing: 1px;
    z-index: 500000;
}
h3{
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    z-index: 300000;
    width: 220px;
}
.al1{
    background: rgba(255, 255, 255, 0.3);
    z-index: 200000;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
}
.hide1 {
    visibility: hidden;
}

.con2 .ani {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    backdrop-filter: blur(50px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: animate 4s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%,100% {
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(100px);
    }
}
.con2 .an {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    backdrop-filter: blur(50px);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    animation: an 4s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes an {
    0%,100% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(100px);
    }
}
.con2 .ani:nth-child(1){
    width: 15px;
    height: 15px;
}
.con2 .ani:nth-child(2){
    width: 10px;
    height: 10px;
}
.con2 .ani:nth-child(3){
    width: 5px;
    height: 5px;
}
.con2 .ani:nth-child(4){
    width: 12px;
    height: 12px;
}
.con2 .ani:nth-child(5){
    width: 8px;
    height: 8px;
}
.con2 .an:nth-child(10){
    width: 5px;
    height: 5px;
}
.con2 .an:nth-child(9){
    width: 12px;
    height: 12px;
}
.con2 .an:nth-child(8){
    width: 15px;
    height: 15px;
}
.con2 .an:nth-child(7){
    width: 9px;
    height: 9px;
}
.con2 .an:nth-child(6){
    width: 6px;
    height: 6px;
}

.one{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}



